#root {
  max-width: auto;
  margin: 0;
  text-align: center;
}

.navbar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(189, 154, 221);
  border-bottom: 1px rgba(87, 36, 134, 0.233) solid;
}
.nav_logo{
  font-weight: bold;
  font-size: 20px;
  margin: 15px;
}

.section{
  margin-top: 2rem;
}

/* carousel styles */

.Carousel {
 max-width: 60%;
 margin: auto;
 border-radius: 1rem;
}

@media (max-width: 1180px) {
  
  .me-auto {
  background: rgb(146, 144, 144);
  width: 65%;
  border-bottom: rgba(121, 30, 206, 0.493) solid ;
  border-bottom-left-radius: 1rem;
  opacity: 95%;
  margin-left: 45%;
  position: relative;
  z-index: 1;
}

.navbar{
  height: 80px;
  position: absolute;
}

.Carousel {
  max-width: 100%;
  border-radius: 1rem;
  height: 200px;
  z-index: 0;
}
.car-item {
  height: 200px;
  border-radius: 1rem;
  max-height: 200px;
}
}